@import '../../styles/colors.scss';
@import '../../styles/utilities.scss';
.board-card {
  &__container {
    position: relative;
    display: flex;
    width: 35rem;
    background-color: $primary-light;
    box-shadow: 0 1.2rem 2rem rgba(105, 117, 135, 0.15);
    border-radius: 1.8rem;
    padding: 1rem 1rem 1rem 1.5rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: grab;
    @include respond(phone) {
      width: 30rem;
      padding: 0.5rem 0.5rem 0.5rem 1rem;
    }
  }

  &__content {
    width: 100%;
    text-align: center;
  }

  &__heading {
    text-align: start;
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 1.8rem;
    letter-spacing: 0.2rem;
    color: $task-header;
    font-family: 'Roboto';
    margin-bottom: 1rem;
    @include respond(phone) {
      font-size: 2.8rem;
    }
  }

  &__info {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 4rem;
    color: $secondary-dark;
  }

  &__img {
    background: url('../../assets/icons/task-img.svg');
    background-size: cover;
    width: 9.5rem;
    height: 9.5rem;
    @include respond(phone) {
      width: 7rem;
      height: 7rem;
    }
  }

  &__text {
    word-break: break-all;
    margin-top: 1rem;
    max-width: 100%;
  }
}
