.edit-btn {
  display: inline-block;
  background-image: url('../../assets/icons/edit.svg');
  height: 2rem;
  width: 2rem;
  background-repeat: no-repeat;
  background-size: 2rem 2rem;
  transition: all 0.3s;
  filter: invert(62%) sepia(13%) saturate(621%) hue-rotate(63deg) brightness(95%) contrast(86%);
  margin: 0 0 1rem 1rem;

  &:hover {
    cursor: pointer;
    transform: scale(0.95);
  }
}
