@import '../../styles/colors.scss';
@import '../../styles/utilities.scss';

.card-container {
  width: 32rem;
  overflow: auto;
  position: relative;
  background-color: $card-background;
  border-radius: 18px;
  box-shadow: 0px 12px 20px rgba(105, 117, 135, 0.15);

  @include respond(phone) {
    width: 30rem;
  }

  &::-webkit-scrollbar {
    position: absolute;
    width: 0.8rem;
    @include respond(phone) {
      height: 0.5rem;
    }
  }
  &::-webkit-scrollbar-track {
    background: $background-dark;
    border: 4px solid transparent;
    background-clip: content-box;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: $background-light-m;
    outline: 1px solid $background-light-m;
  }
}

.column-header {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}
.column-btn-edit {
  background-image: url('../../assets/icons/edit.svg');
  height: 32px;
  width: 32px;
  align-self: center;
  background-repeat: no-repeat;
  background-size: 2rem 2rem;
  transition: all 0.3s;
  filter: invert(62%) sepia(13%) saturate(621%) hue-rotate(63deg) brightness(95%) contrast(86%);

  &:hover {
    cursor: pointer;
    transform: scale(0.95);
  }
}

.column {
  width: 100%;

  height: 100%;
  padding: 2rem 1.8rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
  }

  &__footer {
    background-image: url('../../assets/icons/taskImage.svg');
    background-repeat: no-repeat;
    background-position-y: bottom;
    width: 10rem;
    min-height: 10rem;
    flex-grow: 1;
    justify-self: end;
    align-self: end;
  }
}

.close-button {
  width: 3rem;
  height: 3rem;
  z-index: 1;
  border-radius: 3rem;
  border: 2px solid #000;
  background-image: url('../../assets/icons/cross.svg');
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;

  &:hover {
    cursor: pointer;
  }
  &:active {
    transform: scale(0.95);
  }
}

.task-container {
  margin-top: 0.1rem;
  display: flex;
  flex-direction: column;
}
