$btn-primary: #84a17d;
$btn-secondary: #ffffff;
$btn-primary-hover: #6d9f61;
$btn-secondary-hover: #bdc4c4;
$btn-secondary-text: #53837d;

$background-light: #dde4e4;
$background-dark: #153c3c;

$primary-light: #ffffff;
$secondary-light: #d2f1ea;
$primary-dark: #153c3c;
$secondary-dark: #585858;

$task-header: #84a17d;
$card-background: #d2f1ea;

$background-light-m: #7ec3b0;
$background-transparent: rgba(245, 250, 255, 0);
