.card {
  background: #84a17d;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  img {
    width: 180px;
    height: 180px;
  }
  p {
    color: white;
  }
}
.container {
  min-height: calc(100vh - 248px);
  display: flex;
  gap: 0 3rem;
  justify-content: center;
  flex-wrap: wrap;
  min-height: calc(100vh - 248px);
  margin: 5rem 0 15rem 0;
  form {
    margin-bottom: 2rem;
    z-index: 2;
  }
}
.wrapper-card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
